* {
	margin:0;
	padding:0;
  border:0;
}

.wrapper {
  width: 1260px;
  margin: auto;
	border: 1px solid #000;
}

header {
  max-width: 1260px;
	border-bottom: 1px solid #000;
	padding: 10px;
	background-color: #eee;
}

figure{
  padding: auto;
}

footer{
  max-width: 1260px;
  border-top: 1px solid #000;
	padding: 10px;
	background-color: #eee;
}